{% extends "main.html" %}

{% block maincontent %}
<h2>Welcome to the Tutorial for Level {{ t_level }}!</h2>
<br>
<li> Complete the tutorial, then take the quiz to see if you learned anything.</li><br>

{% if t_level == 0 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/MPN_7CGpK64" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><a href="/quiz0"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}

{% if t_level == 1%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/-Bx5miVw0xI" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><a href="/quiz1"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}

{% if t_level == 2%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ou9fPkt1ZWM" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><a href="/quiz2"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}

{% if t_level == 3%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/QcIy9NiNbmo" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><a href="/quiz3"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}

{% if t_level == 4%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/-YkLPxQp_y0" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><a href="/quiz4"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}

{% if t_level == 5%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/6UsHHOCH4q8" frameborder="0" allowfullscreen></iframe>
{% if t_level == user.level %}
<br><br><br><a href="/quiz5"><li>Take Me to the Quiz!</a>
{% endif %}
{% endif %}


{% endblock %}